.bubble_text_right {
    border: 2px solid #F00;
    border-radius: 20px 0px 20px 20px;
    padding: 5px;
    display: inline-block;
    max-width: 100%;
}

.bubble_text_left {
    border: 2px solid #000;
    border-radius: 0px 20px 20px 20px;
    padding: 5px;
    display: inline-block;
    max-width: 100%;
}

.bubble_container {
    padding: 20px;
    width: 100%;
    min-height: 30px;
}
