.chat-container {
    display: flex;
    width: 100%;
    align-self: end;
    margin: 2%;
}

.chat-item {
    border-radius: 0px 20px 20px 20px;
    border: 1px solid #C00;
    background: #2dd36f !important;
}
