.vertical-center {
    align-items: center;
}

.center {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.padding {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
}

.upload-image {
    font-size: 40px;
    bottom: 5%;
    right: 7%;
    padding: 2%;
    background-color: #fff;
    border-radius: 100%;
    border: 2px solid #3880FF;
    position: absolute;
    color:#3880FF;
}

